<div class="container">
    <mat-card [routerLink]="'/admin/user/list'" class="dashboard-card">
        <mat-icon class="sky-blue">people</mat-icon>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <h1>Users</h1>
        </mat-card-content>
    </mat-card>

    <mat-card [routerLink]="'/admin/role/list'" class="dashboard-card">
        <mat-icon class="light-red">security</mat-icon>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <h1>Roles & Permissions</h1>
        </mat-card-content>
    </mat-card>
</div>